
    nav{
    background-color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    
    padding: 0px;
    
    }



    .slider_section{
    padding-top: 65px;
    min-height: 650px;
    }
    h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #262533;
    line-height: 1;
    }
    p{
    line-height: 30px;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: #8f8f8f;
    }
    /*Mobile menu*/
    
    .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #e72727;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
    }
    /*scrollbar*/
    /* width */
    ::-webkit-scrollbar {
    width: 15px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
    /*end scrollbar*/
    .header_area {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
    }
   
   
    .header_area .navbar .nav .nav-item.active .nav-link {
    color: #e72727;
    }
    .header_area .navbar .nav .nav-item .nav-link{
    color: #262533;
    }
    a.nav-link.dropdown-toggle::after{
    display: none;
    }
    .header_area .navbar .nav .nav-item {
    margin-right: 24px;
    }
    .dropdown-menu{
    font-size: 13px;
    }
    .slider_section {
    
    }
    .slider_section .slider_content {
    padding: 194px 0px;
    vertical-align: middle;
    }
    .slider_section .banner-left {
    background: #262533;
    padding: 60px 53px;
    }
    .banner-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    }
    .banner-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    }
    .banner-left-content
    {
    }
    .banner-right-content
    {
    
    }
    .banner-left h1 {
    font-weight: 600;
    color: #fff;
    }
    .slider_section .banner-right {
    background: #ffffff;
    padding: 60px 40px;
    }
    .slider_section  .banner-right .main_btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #262533;
    border: 0px;
    }
    
    .slider_section .main_btn {
    position: relative;
    display: inline-block;
    background: #e72727;
    padding: 0px 40px;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    line-height: 60px;
    border: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    z-index: 1;
    transition: all 300ms linear 0s;
    }
    .slider_section .banner-right .main_btn:before {
    background: #262533;
    }
    .slider_section .main_btn:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background: #e72727;
    border: 1px solid #ffffff;
    z-index: -1;
    transition: all 300ms linear 0s;
    }
    .slider_section .main_btn:hover {
    color: #ffffff;
    background: #e72727;
    }
    .slider_section .banner-right .main_btn:hover:before {
    background: #e72727;
    }
    .logo {
    text-align: center;
    line-height: 150%;
    font-family: Bungee;
    }
    .logo .slash
    {
    color: #334747;
    }
    .logo .extension
    {
    color: #d41717;
    }
    /*mobile*/
    
    @media screen and (max-width: 767px) {
    .mobile-space {
    padding-top:10px !important;
    }
    }
    .info_section h4{
    font-size: 16px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    }
    .info_section h5{
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 400;
    color: #e72727;
    text-transform: uppercase;
    letter-spacing: 1px;
    }

    .card-img-top{
        max-height: 240px;
    }
    </style>

    <style type="text/css">
    
    .modal-header{
        display: block !important;
    }
    .info_card{
        background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-bottom-right-radius: .25rem;
border-bottom-left-radius: .25rem;
    }
    .slider_section{
        padding: 0 !important;
    }
    .card-img-top{
        border-top-left-radius: 0px;
border-top-right-radius: 0px;
    }
    .info_card_body h5{
        font-weight: 700;
    }
    .info_card_title{
        display: flex;
justify-content: center;
align-items: center;
    }
.info_card_title h5{
    overflow: auto;
white-space: nowrap;
}
    
    .info_card_text{
        padding: 0px 15px 0px 15px;
    }
    .info_card_title{
        height: 60px;
        padding: 10px 5px 10px 5px;
    }
    div.scrollmenu {
        
background-color: #262533;
overflow: auto;
white-space: nowrap;
}
div.scrollmenu a {
display: inline-block;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
}
div.scrollmenu a:hover {
background-color: #777;
}
.info_card a:link {
text-decoration: none !important;
color: #000;
}
.info_card a:visited {
text-decoration: none !important;
color: #000;
}
.info_card a:hover {
text-decoration: none !important;
color: #000;
}
.info_card a:active {
text-decoration: none !important;
color: #000;
}
.info_card_text{
    overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.map{
    z-index: 9;
    height: 600px;
}
.map ::-webkit-scrollbar {
width: 100px;
}
/* Track */
.map::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
.map::-webkit-scrollbar-thumb {
background: #888;
}
/* Handle on hover */
.map::-webkit-scrollbar-thumb:hover {
background: #555;
}

.btn-form {
        position: absolute;
    right: 3vh;
        float: right;
cursor: pointer;
color: white;
padding: 10px 25px;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
border-radius: 19px;
border: 2px solid #83b566;
background-color: #83b566;
text-transform: uppercase;
font-size: 14px;
transition: .3s;
}



.price-banner {
  background-image: url(https://www.artera.net/wp-content/uploads/2019/09/dark-bg.jpg)!important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  text-decoration: none;
  color: #fff;
  position: relative;
  line-height: 1.1;
}

.price-banner:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.price-banner.blue:before {
  background: rgba(0, 81, 154, 0.5);
}

.price-half {
  width:50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 30px 10px;
}

.one-third {
  flex-basis:33.33%;
  z-index: 2;
}

.right-price {
  align-self: center;
  justify-content: center;
  z-index: 2;
}

.centered {
  text-align: center;
}

.slanted {
  position: relative;
  overflow: hidden;
  font-weight: 700;
}

.slanted:before {
  content: ''; 
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-25deg);
  z-index: 0;
}

.price-big {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}













body{
padding: 0 !important;
font-family: Helvetica, Arial, sans-serif;
}
.map { height: 600px }
nav{
background-color: #fff;
font-size: 13px;
font-weight: 600;
text-transform: uppercase;
padding: 0px;
}
.slider_section{
min-height: 650px;
}
h1, h2, h3, h4, h5, h6 {
font-weight: 600;
color: #262533;
line-height: 1;
}
p{
/*line-height: 30px;*/
font-size: 16px;
font-family: "Roboto Condensed", sans-serif;
font-weight: 400;
color: #8f8f8f;
}
/*Mobile menu*/
.navbar-toggler span {
display: block;
width: 25px;
height: 3px;
background: #e72727;
margin: auto;
margin-bottom: 4px;
transition: all 400ms linear;
cursor: pointer;
}
/*scrollbar*/
/* width */
::-webkit-scrollbar {
width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
/*end scrollbar*/
.header_area {
position: relative;
width: 100%;
top: 0;
left: 0;
z-index: 12;
transition: background 0.4s, all 0.3s linear;
}
.header_area .navbar_fixed .main_menu {
position: fixed;
width: 100%;
top: -70px;
left: 0;
right: 0;
transform: translateY(70px);
transition: transform 500ms ease, background 500ms ease;
-webkit-transition: transform 500ms ease, background 500ms ease;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.header_area .navbar_fixed .main_menu .header_area {
display: none;
}
.header_area .navbar .nav .nav-item.active .nav-link {
color: #e72727;
}
.header_area .navbar .nav .nav-item .nav-link{
color: #262533;
}
a.nav-link.dropdown-toggle::after{
display: none;
}
.header_area .navbar .nav .nav-item {
margin-right: 24px;
}
.dropdown-menu{
font-size: 13px;
}
.slider_section .slider_content {
padding: 194px 0px;
vertical-align: middle;
}
.slider_section .banner-left {
background: #262533;
padding: 25px 25px;
}
.banner-left{
	word-wrap: break-word;
display: flex;
justify-content: center;
align-items: center;
height: 250px;
}
.banner-right{
	word-wrap: break-word;
display: flex;
justify-content: center;
align-items: center;
height: 250px;
}
.banner-left-content
{
}
.banner-right-content
{
}
.banner-left h1 {
	word-wrap: break-word;
font-weight: 600;
color: #fff;
}
.banner-right p{
	word-wrap: break-word;
}
.slider_section .banner-right {
background: #ffffff;
padding: 60px 40px;
}
.slider_section  .banner-right .main_btn {
	overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
	max-width: 100%;
position: absolute;
right: 0px;
bottom: 0px;
background: #262533;
border: 0px;
}
.slider_section .main_btn {
position: relative;
display: inline-block;
background: #e72727;
padding: 0px 40px;
color: #fff !important;
font-size: 13px;
font-weight: 700;
line-height: 60px;
border: 0px;
outline: none !important;
box-shadow: none !important;
text-align: center;
cursor: pointer;
border-radius: 0px;
text-transform: uppercase;
letter-spacing: 0.5px;
z-index: 1;
transition: all 300ms linear 0s;
}

.slider_section .main_btn_fb {
position: relative;
display: inline-block;
background: #3b5998;
padding: 0px 40px;
color: #fff !important;
font-size: 13px;
font-weight: 700;
line-height: 60px;
border: 0px;
outline: none !important;
box-shadow: none !important;
text-align: center;
cursor: pointer;
border-radius: 0px;
text-transform: uppercase;
letter-spacing: 0.5px;
z-index: 1;
transition: all 300ms linear 0s;
}

.slider_section .main_btn_fb:before {
content: '';
position: absolute;
top: 5px;
left: 5px;
bottom: 5px;
right: 5px;
background: #3b5998;
border: 1px solid #ffffff;
z-index: -1;
transition: all 300ms linear 0s;
}


.slider_section .banner-right .main_btn:before {
background: #262533;
}
.slider_section .main_btn:before {
content: '';
position: absolute;
top: 5px;
left: 5px;
bottom: 5px;
right: 5px;
background: #e72727;
border: 1px solid #ffffff;
z-index: -1;
transition: all 300ms linear 0s;
}
.slider_section .main_btn:hover {
color: #ffffff;
background: #e72727;
}
.slider_section .banner-right .main_btn:hover:before {
background: #e72727;
}
.logo {
text-align: center;
line-height: 150%;
font-family: Bungee;
}
.logo .slash
{
color: #334747;
}
.logo .extension
{
color: #d41717;
}
/*mobile*/
@media screen and (max-width: 767px) {
.mobile-space {
padding-top:10px !important;
}
}
.info_section h4{
font-size: 16px;
margin-top: 10px !important;
margin-bottom: 10px !important;
}
.info_section h5{
margin-bottom: 25px;
font-size: 12px;
font-weight: 400;
color: #e72727;
text-transform: uppercase;
letter-spacing: 1px;
}
.card-img-top{
max-height: 240px;
}
	.red{
		background-color: red;
	}
	.white{
		background-color: #fff;
	}
	section{
		position: relative;
		margin: 0 auto;
		max-width: 1920px;
	}
	.slider_section .slider_content {
padding: 194px 0px;
vertical-align: middle;
}
	.info_card{
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
	}
	.info_card_body h5{
		font-weight: 700;
	}
	.info_card_title{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.info_card_title h5{
		overflow: auto;
		white-space: nowrap;
	}
	
	.info_card_text{
		padding: 0px 25px 0px 25px;
	}
	.small_img img{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.add_section p
	{
		line-height: 30px;
		font-size: 16px;
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 400;
		color: #8f8f8f;
	}
	.add_section{
		font-family: 'Teko', sans-serif;
		}
	.add_section .img_box{
		display: flex;
	justify-content: center;
	align-items: center;
		max-width:100px;
		max-height: 100px;
		float: left;
		margin-right: 10px;
		margin-left: 10px;
	}
	.modal-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: table;
		transition: opacity 0.5s ease;
	}
	.modal-wrapper {
		display: table-cell;
		vertical-align: bottom;
	}
	.modal-container {
		float: right;
		overflow: auto;
		max-height: 90vh;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
		transition: all 0.3s ease;
		font-family: Helvetica, Arial, sans-serif;
	}
	.modal-header h3 {
		margin-top: 0;
		color: #42b983;
	}
	.modal-body {
		margin: 20px 0;
	}
	.modal-default-button {
		float: right;
	}
	/*Modal*/
	.modal-enter {
		opacity: 0;
	}
	.modal-leave-active {
		opacity: 0;
	}
	.modal-enter .modal-container,
	.modal-leave-active .modal-container {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	.add_section h1{
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	.edit-button{
		position: fixed;
		z-index: 9990;
		bottom:25px;
		right: 25px;
		margin-left: 50px;
		margin-bottom: 4px;
		cursor: pointer;
		color: white;
		padding: 10px 25px;
		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
		border-radius: 19px;
		border: 2px solid #83b566;
		background-color: #83b566;
		text-transform: uppercase;
		font-size: 25px;
		transition: .3s;
	}
	.flex-center{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.add-img{
		margin-right: 5px;
		max-height: 60vh;
	}
	.close{
		padding: 10px !important;
		font-size: 2.5rem !important;
	}
	.slider_section{
			background: no-repeat center;
	}
	.btn-form {
		position: absolute;
    right: 0;
		float: right;
		margin-right: 50px;
margin-left: 50px;
margin-bottom: 4px;
cursor: pointer;
color: white;
padding: 10px 25px;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
border-radius: 19px;
border: 2px solid #83b566;
background-color: #83b566;
text-transform: uppercase;
font-size: 14px;
transition: .3s;
}
.btn-danger {
		float: right;
		margin-right: 50px;
margin-left: 50px;
margin-bottom: 4px;
cursor: pointer;
color: white;
padding: 10px 25px;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
border-radius: 19px;
text-transform: uppercase;
font-size: 14px;
transition: .3s;
}

/*SECTION*/

.section_8 .row{
	padding: 4rem 1.5rem;
			text-align: center;
}
.section_8 .card_8{
	margin: 10px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    border-radius: 20px;
    padding: 30px 0px 10px 0px;
    transition: .3s all ease;
}
.section_8 .card_8 img{
	height: 100px;
	width: auto;
}

.section_8 .card_8 .card-text{
	    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: black;
}
.section_8 .main_img{
	max-height: 190px;
}
.section_8{}



.section_9 .demo-bg{
background: #fff;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);

}
.section_9 .business-hours {
background: #222; 
padding: 40px 14px;
margin-top: -15px;
margin-bottom: 30px;
position: relative;
margin-left: 15px;
}
.section_9 .business-hours:before{
content: '';
width: 23px;
height: 23px;
background: #111;
position: absolute;
top: 5px;
left: -12px;
transform: rotate(-45deg);
z-index: -1;
}
.section_9 .business-hours .title {
font-size: 20px;
color: #fff;
text-transform: uppercase;
padding-left: 5px;
border-left: 4px solid #00abd8; 
}
.section_9 .business-hours li {
color: #fff;
line-height: 30px;
border-bottom: 1px solid #333; 
}
.section_9 .business-hours li:last-child {
border-bottom: none; 
}
.section_9 .business-hours .opening-hours li.today {
color: #ffac0c; 
}

.section_9 .contact .title{
	font-size: 20px;
    color: #222;
    text-transform: uppercase;
    padding-left: 5px;
    
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.section_10 {
    background: #007b5e !important;
}
.section_10 p{
    color: #fff;
}
.section_10 h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
.section_10 a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.section_10 ul.social li{
	padding: 3px 0;
}
.section_10 ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.section_10 ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
.section_10 ul.social li a,
.section_10 ul.quick-links li a{
	color:#ffffff;
}
.section_10 ul.social li a:hover{
	color:#eeeeee;
}
.section_10 ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.section_10 ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
.section_10 ul.quick-links li a i{
	margin-right: 5px;
}
.section_10 ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	.section_10 h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}